<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams."
    />
    <meta name="author" content="Webpixels" />
    <title>LearnFlow</title>
    <!-- Favicon -->
    <link rel="icon" href="/cstm-assets/logo.svg" type="image/png" />
    <!-- Font Awesome 5 -->
    <link
      rel="stylesheet"
      href="/libs/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="/css/purpose.css" id="stylesheet" />
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

    <style>
      #my-video {
        width: 640px;
        height: 400px;
      }
      @media screen and (max-width: 776px) {
        #my-video {
          width: 350px;
          height: 200px;
        }
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      } 
      .like-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.like-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button svg {
  opacity: 1;
}
.like-button svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.like-button.active svg path {   
  fill: #2196f3;
 }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
    </style>
  </head>

  <body>
    <header class="header" id="header-main">
      <!-- Main navbar -->
      <%- include('partials/navbar'); %>
    </header>

    <div class="main-content">
      <!-- Header (account) -->

      <section class="slice slice-lg" data-offset-top="#header-main">
        <div class="container pt-6">
          <div class="row justify-content-center">
            <div class="col-md-9 mb-4">
              <h1 class="lh-150 mb-3"><%= post.title %></h1>

              <div class="media align-items-center mt-5">
                <div>
                  <a
                    href="blog-article.html#"
                    class="avatar rounded-circle mr-3"
                  >
                    <img alt="Image placeholder" src="<%= author.image %>" />
                  </a>
                </div>
                <div
                  class="media-body"
                  style="display: grid; grid-template-columns: 1fr auto"
                >
                  <div>
                    <span class="d-block h6 mb-0"
                      ><%= author.displayName %></span
                    >
                    <span class="text-sm text-muted"><%= postDate %></span>
                  </div>
                  <div>
                    <a href="#" class="like-button">
                      <?xml version="1.0" encoding="utf-8"?>
                      <svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg>
                      </a>

                      <a href="#" class="fa fa-facebook" onclick="Share.facebook()"></a>  
                      <a href="#" class="fa fa-twitter" onclick="Share.twitter()"></a>  
                      <a href="#" class="fa fa-instagram" onclick="Share.instagram()"></a>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="slice">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <!-- Article body -->
              <article><%- post.description %></article>
              <hr />
              <h5 class="mb-4">Comments</h5>

              <% for(const comment of comments) { %>
              <div class="media media-comment">
                <img
                  alt="Image placeholder"
                  class="rounded-circle shadow mr-4"
                  src="<%= comment.authorImage %>"
                  style="width: 64px; height: 64px"
                />
                <div class="media-body" id="comment-<%= comment._id %>">
                  <div class="media-comment-bubble left-top">
                    <h6 class="mt-0"><%= comment.author %></h6>
                    <p class="text-sm lh-160"><%= comment.commentText %></p>
                    <div class="icon-actions">
                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="loadReplies(`<%= comment._id %>`, `<%= comment.depth %>`)"
                      >
                        <i class="fas fa-comment"></i>
                        <span class="text-muted">View Replies</span>
                      </button>

                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="addReplyBox(`<%= comment._id %>`, `<%= comment.depth %>`)"
                      >
                        <i class="fas fa-reply"></i>
                        <span class="text-muted">Reply</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>

              <div class="media media-comment align-items-center">
                <img
                  alt="Image placeholder"
                  class="avatar rounded-circle shadow mr-4"
                  src="<%= user.image %>"
                />
                <div class="media-body">
                  <form class="post-<%= post._id %>" id="post-<%= post._id %>">
                    <div class="form-group mb-0">
                      <div class="input-group input-group-merge border">
                        <textarea
                          class="form-control"
                          data-toggle="autosize"
                          name="commentText"
                          id="commentText"
                          placeholder="Write your comment"
                          rows="1"
                        ></textarea>
                        <div class="input-group-append">
                          <button
                            class="btn btn-primary"
                            form="post-<%= post._id %>"
                            id="comment-button-<%= post._id %>"
                            type="submit"
                          >
                            <span class="fas fa-paper-plane"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="/libs/autosize/dist/autosize.min.js"></script>
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <!-- Purpose JS -->
    <script src="/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="/js/demo.js"></script>
    <!-- onclick="addComment(`post-<%= post._id %>`, 1, null, `<%= user.username%>`, )" -->

    <script>
      const commentForm = document.querySelector(`.post-<%- post._id %>`);
      commentForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const commentText = commentForm.commentText.value;
        const postID = `<%= post._id %>`;
        const depth = 1;
        const parentID = null;

        try {
          const res = await fetch("/create/comment", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              commentText,
              postID,
              depth,
              parentID,
            }),
          });
          const data = await res.json();
          if (data._id) {
            window.location.reload(true);
          } else {
            alert("Oops something went wrong !");
          }
        } catch (error) {}
      });
    </script>

    <script>
      const addReplyBox = (parentID, parentDepth) => {
        const parentComment = document.querySelector(`#comment-${parentID}`);
        // console.log(parentID, parentDepth);
        const replyBox = document.createElement("div");
        replyBox.classList.add("media", "media-comment", "align-items-center");
        let replyButtonFunction =
          "replyFunction(`" + parentID + "`," + "`" + parentDepth + "`)";
        replyBox.innerHTML = `
        <img
                    alt="Image placeholder"
                    class="avatar rounded-circle shadow mr-4"
                    src="<%= user.image %>"
                  />
                  <div class="media-body">
                    <form
                      class="comment-reply-${parentID}"
                      id="comment-<%= user.username %>-${parentID}-${parentDepth}"

                    >
                      <div class="form-group mb-0">
                        <div class="input-group input-group-merge border">
                          <textarea
                            class="form-control"
                            data-toggle="autosize"
                            name="commentText"
                            id="commentText"
                            placeholder="Write your comment"
                            rows="1"
                          ></textarea>
                          <div class="input-group-append">
                            <button
                              class="btn btn-primary"
                              form="comment-${parentID}"
                              id="comment-button-${parentID}"
                              onclick = "${replyButtonFunction}"
                              type="submit"
                            >
                              <span class="fas fa-paper-plane"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

        `;
        parentComment.appendChild(replyBox);
        // const replyForm = document.querySelector(`.comment-reply-${parentId}`);

        // replyForm.addEventListener("submit", async (e) => {
        //   e.preventDefault();
        //   console.log("HERE");
        //   console.log(replyForm);
        //   console.log(parentId, parentDepth);
        // });
      };
    </script>
    <script>
      const replyFunction = async (parentID, parentDepth) => {
        const replyForm = document.querySelector(`.comment-reply-${parentID}`);
        const commentText = replyForm.commentText.value;
        const postID = `<%= post._id %>`;
        const depth = Number(parentDepth) + 1;

        try {
          const res = await fetch("/create/comment", {
            method: "POST",
            body: JSON.stringify({
              commentText,
              postID,
              depth,
              parentID,
            }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data._id) {
            console.log(data._id);
            window.location.reload(true);
          } else {
            throw new Error("Something went wrong");
          }
        } catch (error) {
          console.log(error);
          alert("Oops something went wrong !");
        }

        // console.log(replyForm.commentText.value);
      };
    </script>

    <script>
      Share = {
        facebook: function() {
        url = 'http://www.facebook.com/';
        Share.popup(url);
        },
        twitter: function() {
        url = 'http://twitter.com/';
        Share.popup(url);
        },
        instagram: function() {
        url = 'http://instagram.com/';
        Share.popup(url);
        },
        popup: function(url) {
        window.open(url,'','toolbar=0,status=0,width=626, height=436');
        }
      };
    </script>

<script>
  let button = document.querySelector(".like-button");

button.addEventListener("click", function(e) {
e.preventDefault();
this.classList.toggle("active");
this.classList.add("animated");
generateClones(this);
});


function generateClones(button) {
let clones = randomInt(2, 4);
for (let it = 1; it <= clones; it++) {
let clone = button.querySelector("svg").cloneNode(true),
  size = randomInt(5, 16);
button.appendChild(clone);
clone.setAttribute("width", size);
clone.setAttribute("height", size);
clone.style.position = "absolute";
clone.style.transition =
  "transform 0.5s cubic-bezier(0.12, 0.74, 0.58, 0.99) 0.3s, opacity 1s ease-out .5s";
let animTimeout = setTimeout(function() {
  clearTimeout(animTimeout);
  clone.style.transform =
    "translate3d(" +
    (plusOrMinus() * randomInt(10, 25)) +
    "px," +
    (plusOrMinus() * randomInt(10, 25)) +
    "px,0)";
  clone.style.opacity = 0;
}, 1);
let removeNodeTimeout = setTimeout(function() {
  clone.parentNode.removeChild(clone);
  clearTimeout(removeNodeTimeout);
}, 900);
let removeClassTimeout = setTimeout( function() {
  button.classList.remove("animated")
}, 600);
}
}


function plusOrMinus() {
return Math.random() < 0.5 ? -1 : 1;
}

function randomInt(min, max) {
return Math.floor(Math.random() * (max - min + 1) + min);
}

</script>

    <script>
      const loadReplies = async (parentID, parentDepth) => {
        try {
          const res = await fetch(
            `/fetch/reply?parentID=${parentID}&parentDepth=${parentDepth}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          );
          const data = await res.json();
          console.log(data);
          const parentBody = document.querySelector(`#comment-${parentID}`);
          for (var comment of data) {
            const commentBox = document.createElement("div");
            commentBox.classList.add("media", "media-comment");
            let replyButtonFunction =
              "addReplyBox(`" + comment._id + "`," + "`" + comment.depth + "`)";
            let loadRepliesButtonFunction =
              "loadReplies(`" + comment._id + "`," + "`" + comment.depth + "`)";
            commentBox.innerHTML = `<img
              alt="Image placeholder"
              class="rounded-circle shadow mr-4"
              src="${comment.authorImage}"
              style="width: 64px; height: 64px"
            />
            <div class="media-body" id="comment-${comment._id}">
              <div class="media-comment-bubble left-top">
                <h6 class="mt-0">${comment.author}</h6>
                <p class="text-sm lh-160"> ${comment.commentText} </p>
                <div class="icon-actions">
                  <button
                    href="blog-article.html#"
                    class="btn btn-small"
                    onclick="${loadRepliesButtonFunction}"
                  >
                    <i class="fas fa-comment"></i>
                    <span class="text-muted">View Replies</span>
                  </button>
                  <!-- <a href="blog-article.html#" class="love active">
                    <i class="fas fa-heart"></i>
                    <span class="text-muted">10 likes</span>
                  </a> -->

                  <button
                    href="blog-article.html#"
                    class="btn btn-small"
                    onclick="${replyButtonFunction}"
                  >
                    <i class="fas fa-reply"></i>
                    <span class="text-muted">Reply</span>
                  </button>
                </div>
              </div>
            </div>`;
            parentBody.appendChild(commentBox);
          }
          if (!data.length) {
            const noReplyBox = document.createElement("div");
            noReplyBox.classList.add("media-comment-bubble", "left-top");

            noReplyBox.innerHTML = `<p class="text-sm lh-160"> No Reply Yet </p>`;
            parentBody.appendChild(noReplyBox);
            setTimeout(() => {
              parentBody.removeChild(parentBody.lastChild);
            }, 1500);
          }
        } catch (error) {
          console.log(error);
          alert("Oops something went wrong!");
        }
      };
    </script>
  </body>
</html>
